.miclase{background-color: blue;}
.Titulo{background-color: grey;}
h1{font-size: 200%;}
.dias{font-style: normal;}
.Horario{font-style: oblique;}
.dias{font-size: xx-large;}
.dias{color:blue}
.horario{color :dimgrey}
